@using E_Commerce.Models
@model dynamic
@{
    ViewData["Title"] = "Track Order";
}


		<div id="track_order">
			<div class="container">
				<div class="row justify-content-center text-center">
					<div class="col-xl-7 col-lg-9">
						<img src="~/img/TrackingIcon.png" alt="" class="img-fluid add_bottom_15" width="200" height="177">
						<p>Quick Tracking Order</p>
						<form>
							<div class="search_bar">
								<input type="text" class="form-control" id="InvID"placeholder="Invoice ID" required>
								<br />
								<input type="button" class="btn_1 full-width" onclick = "Redirect();" value="Track My Order">
							</div>
						</form>


						 <script type = "text/javascript">
							
								function Redirect() {
								   window.location = "/Account/Trackorder/"+document.getElementById("InvID").value;
								}
							 
						  </script>
					</div>


					
				</div>
				<!-- /row -->
			</div>


			<!-- /container -->
		</div>
		<!-- /track_order -->
		<div class="container">
				<div class="row justify-content-center">
					@if(ViewBag.TrackingDataAvailable > 0)
					{
						<h4 class="text-center">Order Tracking Details</h4>
					}
					<div class="col-xl-7 col-lg-9">
						<div class="card  mb-3">
							@foreach(OrderTrackingModel OrderTrackingDetails in Model.OrderTrackingDetails){
						
						
									  <div class="row g-0">
										<div class="col-md-4">
										  <img src="~/img/Icon.gif" class="img-fluid mx-auto  rounded-start d-block" alt="...">
										</div>
										<div class="col-md-8">
										  <div class="card-body">
											<h5 class="card-title">@OrderTrackingDetails.OrderStatus</h5>
											<p class="card-text">@OrderTrackingDetails.StatusDiscriptions</p>
											<p class="card-text"><small class="text-muted">@OrderTrackingDetails.DateTime</small></p>
										  </div>
										</div>
									  </div>

						
					
					}

					









					</div>
					</div>
				</div>
				<!-- /row -->
			</div>
		<div class="bg_white">
		<div class="container margin_60_35">
			<div class="main_title">
				<h2>Top Selling</h2>
				<span>Products</span>
				<p>Products That You Guys Want a Lot.</p>
			</div>
			<div class="owl-carousel owl-theme products_carousel">
				 @foreach(ProductsModel products in Model.FeaturedProducts){
					<div class="item">
					<div class="grid_item">
						<span class="ribbon off">- @products.DiscountRatio %</span>
						<figure>
							
							<a href=~/products/details/@products.ProductId>
								<img class="owl-lazy" src="~/img/products/@products.ProductName 1.jpeg" alt="">
							</a>
						</figure>
						 <!-- Review-->
	                   
							  <span class="rating">
							
								  @for(int i = 0; i < Convert.ToDecimal(@products.Rating); i++)
							{
								<i class="icon-star voted"></i>
							}

							 @for(int i = 0; i <(5- Convert.ToDecimal(@products.Rating)); i++)
							{
								<i class="icon-star"></i>
							}
								
							
							
						</span>
						 <!-- /Review-->
						
						<a href="~/products/details/@products.ProductId">
							<h3>@products.ProductName</h3>
						</a>
						<br>
						<h9> Origin : @products.Origin</h9>
						<div class="price_box">
							<span class="new_price">৳ @products.HaatPrice</span>
							<span class="old_price">৳ @products.MarketPrice</span>
						</div>
						<ul>
							<li><a href="~/products/details/@products.ProductId" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a></li>
						</ul>
					</div>
					<!-- /grid_item -->
				</div>
				}
				<!-- /item -->
			</div>
			<!-- /products_carousel -->
		</div>
		<!-- /container -->
		</div>
		<!-- /bg_white -->

